name: Build
on:
  push:
    branches:
    - master
    - release-*
  pull_request:
    types:
    - opened
    - edited
    - reopened
    - synchronize
  pull_request_target:
    types:
    - labeled

jobs:
  build:
    if: ${{ github.event_name != 'pull_request_target' || (github.event_name == 'pull_request_target' && github.event.label.name == 'reviewed/ok-to-test') }}
    uses: ./.github/workflows/build.yaml
    with:
      mode: snapshot
    secrets: inherit
    permissions:
      contents: write
      packages: write
      id-token: write

  component-descriptor:
    uses: gardener/cc-utils/.github/workflows/post-build.yaml@master
    needs:
      - build
    secrets: inherit
    permissions:
      id-token: write
      contents: write

  pullrequest-trusted-helper:
      permissions:
        pull-requests: write
      secrets: inherit # access to `GitHub-Actions`-App is needed to read teams
      uses: gardener/cc-utils/.github/workflows/pullrequest-trust-helper.yaml@master
      with:
        # members will be trusted (-> get okay-to-test-label automatically)
        trusted-teams: 'gardener-extension-shoot-networking-filter-maintainers'
